.header__basket-min
section.section.section-four
	.container
		h1.main-title УЧЕБНИКИ ВРЕМЕН СОВЕТСКОГО СОЮЗА - ЛУЧШАЯ АЛЬТЕРНАТИВА СОВРЕМЕННОЙ СИСТЕМЕ ОБРАЗОВАНИЯ
		h3.sub-title.product-desc__title Учебники для 4-го класса
		.section__row.product-list
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/arifmetika_4.jpg" alt="Арифметика. Учебник для 4 класса начальной школы. Пчёлко А.С., Поляк Г.Б. Учпедгиз 1955")
				.product__descripton
					.product__name Арифметика. Учебник для 4 класса начальной школы. Пчёлко А.С., Поляк Г.Б. Учпедгиз 1955
					p.product-desc__text Сталинский учебник математики для 4 класса начальной школы. Переиздание в твёрдом переплёте на качественной бумаге.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1123176"
						data-sb-product-name="Арифметика. Учебник для 4 класса начальной школы. Пчёлко А.С., Поляк Г.Б. Учпедгиз 1955 Учпедгиз 1954"
						data-sb-product-price="250"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/arifmetika_4.jpg"
					)
						i.fas.fa-cart-plus
						span.price 250
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/sbornik_arifmeticheskih_zadach_4.jpg" alt="Сборник арифметических задач и упражнений для 4 класса начальной школы. Попова Н.С. 1941")
				.product__descripton
					.product__name Сборник арифметических задач и упражнений для 4 класса начальной школы. Попова Н.С. 1941
					p.product-desc__text Сборник арифметических задач и упражнений для 4 класса начальной школы
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1123723"
						data-sb-product-name="Сборник арифметических задач и упражнений для 4 класса начальной школы. Попова Н.С. 1941"
						data-sb-product-price="250"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/sbornik_arifmeticheskih_zadach_4.jpg"
					)
						i.fas.fa-cart-plus
						span.price 250
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/uchebnik_russkogo_4.jpg" alt="Учебник русского языка для начальной школы. 4 класс. Костин Н.А. Учпедгиз 1949")
				.product__descripton
					.product__name Учебник русского языка для начальной школы. 4 класс. Костин Н.А. Учпедгиз 1949
					p.product-desc__text Учебник в доступной форме дает основы русского языка. Методика подачи материала позволяет получить глубокие знания по предмету. Качественное переиздание классического учебника русского языка.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1123110"
						data-sb-product-name="Учебник русского языка для начальной школы. 4 класс. Костин Н.А. Учпедгиз 1949"
						data-sb-product-price="250"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/uchebnik_russkogo_4.jpg"
					)
						i.fas.fa-cart-plus
						span.price 250
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/rodnaya_rech_4.png" alt="Родная речь. Книга для чтения в 4 классе начальной школы. Соловьёва Е.Е., Щепетова Н.Н., Карпинская Л.А")
				.product__descripton
					.product__name Родная речь. Книга для чтения в 4 классе начальной школы. Соловьёва Е.Е., Щепетова Н.Н., Карпинская Л.А
					p.product-desc__text Родная речь - это не просто рассказы, но подготовка ребёнка к изучению многих дисциплин, в том числе истории и естествознания.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1123449"
						data-sb-product-name="Родная речь. Книга для чтения в 4 классе начальной школы. Соловьёва Е.Е., Щепетова Н.Н., Карпинская Л.А"
						data-sb-product-price="400"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/rodnaya_rech_4.png"
					)
						i.fas.fa-cart-plus
						span.price 400
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/estestvoznanie_4.jpg" alt="Естествознание. Учебник для 4 класса начальной школы. Тетюрев В.А. Учпедгиз 1945")
				.product__descripton
					.product__name Естествознание. Учебник для 4 класса начальной школы. Тетюрев В.А. Учпедгиз 1945
					p.product-desc__text Практически в каждой главе есть описание и рисунок опыта, что позволяет лучше усваивать теоретический материал, который к тому же изложен весьма простым и понятным для ребенка языком.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1123106"
						data-sb-product-name="Естествознание. Учебник для 4 класса начальной школы. Тетюрев В.А. Учпедгиз 1945"
						data-sb-product-price="250"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/estestvoznanie_4.jpg"
					)
						i.fas.fa-cart-plus
						span.price 250
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/istoriya_uchebnik_4.png" alt="История СССР, краткий курс. Учебник для 4 класса. проф. Шестаков А.В. Учпедгиз 1954")
				.product__descripton
					.product__name История СССР, краткий курс. Учебник для 4 класса. проф. Шестаков А.В. Учпедгиз 1954
					p.product-desc__text История СССР. Краткий курс Учебник для 4-го класса Под редакцией профессора А. В. Шестакова Утверждён Министерством просвещения РСФСР.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1123442"
						data-sb-product-name="История СССР, краткий курс. Учебник для 4 класса. проф. Шестаков А.В. Учпедгиз 1954"
						data-sb-product-price="300"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/istoriya_uchebnik_4.png"
					)
						i.fas.fa-cart-plus
						span.price 300
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/uchebnik_angliyskogo_yazika_4_klassa.jpg" alt="Учебник английского языка для 4 класса начальной школы. Годлинник Ю.И., Кузнец М.Д. 1952")
				.product__descripton
					.product__name Учебник английского языка для 4 класса начальной школы. Годлинник Ю.И., Кузнец М.Д. 1952
					p.product-desc__text Учебник английского языка для 4 класса начальной школы.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1123725"
						data-sb-product-name="Учебник английского языка для 4 класса начальной школы. Годлинник Ю.И., Кузнец М.Д. 1952"
						data-sb-product-price="250"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/uchebnik_angliyskogo_yazika_4_klassa.jpg"
					)
						i.fas.fa-cart-plus
						span.price 250
						| руб.
					.product__quantity(style="display:none;")
		.section__row.product-list
			.section__col.product.product--komplekt
				.product__pic
					img.product__img(src="static/images/content/komplekt_4.png" alt="Комплект учебников для 4-го класса")
					img.product__img-sale(src="static/images/general/sale_5.png" alt="Скидка 5%" width=70)
				.product__descripton
					.product__name Комплект учебников для 4-го класса
					p В комплекте:
					ul
						li 1) Арифметика. Учебник для 4 класса начальной школы. Пчёлко А.С., Поляк Г.Б. Учпедгиз 1955;
						li 2) Учебник русского языка для начальной школы. 4 класс. Костин Н.А. Учпедгиз 1949;
						li 3) Родная речь. Книга для чтения в 4 классе начальной школы. Соловьёва Е.Е., Щепетова Н.Н., Карпинская Л.А;
						li 4) Естествознание. Учебник для 4 класса начальной школы. Тетюрев В.А. Учпедгиз 1945;
						li 5) История СССР, краткий курс. Учебник для 4 класса. проф. Шестаков А.В. Учпедгиз 1954;
						.product__old-price Старая цена: 
							span.price.price--old 1450 руб.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1123718"
						data-sb-product-name="Комплект учебников для 4-го класса"
						data-sb-product-price="1330"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/komplekt_4.png"
					)
						i.fas.fa-cart-plus
						span.price 1330
						| руб.
					.product__quantity(style="display:none;")
.smart-basket__wrapper