.header__basket-min
section.section.section-one
	.container
		h1.main-title УЧЕБНИКИ ВРЕМЕН СОВЕТСКОГО СОЮЗА - ЛУЧШАЯ АЛЬТЕРНАТИВА СОВРЕМЕННОЙ СИСТЕМЕ ОБРАЗОВАНИЯ
		h3.sub-title.product-desc__title Учебники для 2-го класса
		.section__row.product-list
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/arifmetika_2_p.jpg" alt="Арифметика. Учебник для 2 класса начальной школы. А.С. Пчёлко, Г.Б. Поляк. Учпедгиз 1957")
				.product__descripton
					.product__name Арифметика. Учебник для 2 класса начальной школы. А.С. Пчёлко, Г.Б. Поляк. Учпедгиз 1957
					p.product-desc__text Рассматривается подробно умножение, вычисления в пределах 100 и знакомство с 1000. Шрифт мельче, чем в учебнике 1 класса, но соответствует возрасту. Подборка заданий лучше, чем в современных пособиях.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1120084"
						data-sb-product-name="Арифметика. Учебник для 2 класса начальной школы. А.С. Пчёлко, Г.Б. Поляк. Учпедгиз 1957"
						data-sb-product-price="250"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/arifmetika_2_p.jpg"
					)
						i.fas.fa-cart-plus
						span.price 250
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/sbornik.png" alt="Сборник арифметических задач и упражнений для 2 класса начальной школы. Попова Н.С. 1940")
				.product__descripton
					.product__name Сборник арифметических задач и упражнений для 2 класса начальной школы. Попова Н.С. 1940
					p.product-desc__text Наталья Попова писала самые лучшие учебники по математике для начальной школы. Сейчас то, что было типовыми заданиями, относится к олимпиадному уровню.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1120329"
						data-sb-product-name="Сборник арифметических задач и упражнений для 2 класса начальной школы. Попова Н.С. 1940"
						data-sb-product-price="200"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/sbornik.png"
					)
						i.fas.fa-cart-plus
						span.price 200
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/arifmetika_2_c.jpg" alt="Учебник арифметики для начальной школы. Часть II. Попова Н.С. 1933")
				.product__descripton
					.product__name Учебник арифметики для начальной школы. Часть II. Попова Н.С. 1933
					p.product-desc__text Учебник -логичный, с хорошей подачей Все задания в сталинских программах вначале проживались. Попова - автор лучших учебников арифметики.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1121623"
						data-sb-product-name="Учебник арифметики для начальной школы. Часть II. Попова Н.С. 1933"
						data-sb-product-price="200"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/arifmetika_2_c.jpg"
					)
						i.fas.fa-cart-plus
						span.price 200
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/uchebnik_russkogo_2.jpg" alt="Учебник русского языка для начальной школы. 2 класс. Н.А. Костин. Учпедгиз 1954")
				.product__descripton
					.product__name Учебник русского языка для начальной школы. 2 класс. Н.А. Костин. Учпедгиз 1954
					p.product-desc__text Учебник в доступной форме дает основы русского языка. Методика подачи материала позволяет получить глубокие знания по предмету. Качественное переиздание классического учебника русского языка.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1120088"
						data-sb-product-name="Учебник русского языка для начальной школы. 2 класс. Н.А. Костин. Учпедгиз 1954"
						data-sb-product-price="250"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/uchebnik_russkogo_2.jpg"
					)
						i.fas.fa-cart-plus
						span.price 250
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/izuchenie_bezudarnih_glasnih.jpg" alt="Изучение безударных гласных во II классе. Н.Н. Боголюбов. Учпедгиз 1958 г.")
				.product__descripton
					.product__name Изучение безударных гласных во II классе. Н.Н. Боголюбов. Учпедгиз 1958 г.
					p.product-desc__text С помощью советских учебников была создана страна, достоянием которой мы пользуемся по сей день. Классическое образование является одним из звеньев цепи, с помощью чего был создан тот шедевр.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1120085"
						data-sb-product-name="Изучение безударных гласных во II классе. Н.Н. Боголюбов. Учпедгиз 1958 г."
						data-sb-product-price="100"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/izuchenie_bezudarnih_glasnih.jpg"
					)
						i.fas.fa-cart-plus
						span.price 100
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/rodnaya_rech_2.jpg" alt="Родная речь. Книга для чтения во 2 классе начальной школы. Е.Е. Соловьёва, Н.Н. Щепетова, Л.А. Карпинская. Учпедгиз 1954")
				.product__descripton
					.product__name Родная речь. Книга для чтения во 2 классе. Е.Е. Соловьёва, Н.Н. Щепетова, Л.А. Карпинская.
					p.product-desc__text Книга с цветными вставками. Содержит произведения русских авторов: Пушкина, Лермонтова, Ушинского, Маршака, Толстого, Крылова, Маяковского, Чуковского, Аксакова и других, а также народные сказки, пословицы.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1120087"
						data-sb-product-name="Родная речь. Книга для чтения во 2 классе начальной школы. Е.Е. Соловьёва, Н.Н. Щепетова, Л.А. Карпинская. Учпедгиз 1954"
						data-sb-product-price="300"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/rodnaya_rech_2.jpg"
					)
						i.fas.fa-cart-plus
						span.price 300
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/propisi_2.png" alt="Прописи для учащихся 2 класса начальной школы. Воскресенская А.И., Ткаченко Н.И. 1948")
				.product__descripton
					.product__name Прописи для учащихся 2 класса начальной школы. Воскресенская А.И., Ткаченко Н.И. 1948
					p.product-desc__text Прописи для учащихся 2-го класса начальной школы, которые помогут Вашему ребенку научится красиво писать. В прописях даются образцы правильного написания букв, их элементов и соединений.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1120327"
						data-sb-product-name="Прописи для учащихся 2 класса начальной школы. Воскресенская А.И., Ткаченко Н.И. 1948"
						data-sb-product-price="80"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/propisi_2.png"
					)
						i.fas.fa-cart-plus
						span.price 80
						| руб.
					.product__quantity(style="display:none;")
		.section__row.product-list
			.section__col.product.product--komplekt
				.product__pic
					img.product__img(src="static/images/content/komplekt_2.png" alt="Комплект учебников для 2-го класса")
					img.product__img-sale(src="static/images/general/sale_5.png" alt="Скидка 5%" width=70)
				.product__descripton
					.product__name Комплект учебников для 2-го класса
					p В комплекте:
					ul
						li 1) Арифметика. Учебник для 2 класса начальной школы. А.С. Пчёлко, Г.Б. Поляк. Учпедгиз 1957;
						li 2) Сборник арифметических задач и упражнений для 2 класса начальной школы. Попова Н.С. 1940;
						li 3) Учебник арифметики для начальной школы. Часть II. Попова Н.С. 1933 - 200 руб;
						li 4) Учебник русского языка для начальной школы. 2 класс. Н.А. Костин. Учпедгиз 1954 - 250 руб;
						li 5) Изучение безударных гласных во II классе. Н.Н. Боголюбов. Учпедгиз 1958 г. - 100 руб;
						li 6) Родная речь. Книга для чтения во 2 классе начальной школы. Е.Е. Соловьёва, Н.Н. Щепетова, Л.А. Карпинская. Учпедгиз 1954;
						li 7) Прописи для учащихся 2 класса начальной школы. Воскресенская А.И., Ткаченко Н.И. 1948;
						.product__old-price Старая цена: 
							span.price.price--old 1380 руб.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1123716"
						data-sb-product-name="Комплект учебников для 2-го класса"
						data-sb-product-price="1310"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/komplekt_2.png"
					)
						i.fas.fa-cart-plus
						span.price 1310
						| руб.
					.product__quantity(style="display:none;")
.smart-basket__wrapper
