.header__basket-min
section.section.section-one
	.container
		h1.main-title Другие книги
		.section__row.product-list
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/kapitalizm.jpg" alt="Капитализм. История и идеология 'денежной цивилизации'. Валентин Катасонов")
				.product__descripton
					.product__name Капитализм. История и идеология "денежной цивилизации". Валентин Катасонов
					p.product-desc__text В фундаментальном труде русского ученого, доктора экономических наук Валентина Катасонова исследуется история и идеология капитализма.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1119134"
						data-sb-product-name="Капитализм. История и идеология 'денежной цивилизации'. Валентин Катасонов"
						data-sb-product-price="1160"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/kapitalizm.jpg"
					)
						i.fas.fa-cart-plus
						span.price 1160
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/istoriya_rossii_komplekt_5.jpg" alt="История России. Комплект из 5 томов (изд. исправленное, дополненное), Спицын Евгений Юрьевич")
				.product__descripton
					.product__name История России. Комплект из 5 томов (изд. испр. дополненное), Спицын Евгений Юрьевич
					p.product-desc__text Ищете интересное и понятное издание об истории России? Предлагаем комплект из пяти томов, который содержит не только достоверную информацию, но и карты, портреты, фотографии.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1116568"
						data-sb-product-name="История России. Комплект из 5 томов (изд. исправленное, дополненное), Спицын Евгений Юрьевич"
						data-sb-product-price="2900"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/istoriya_rossii_komplekt_5.jpg"
					)
						i.fas.fa-cart-plus
						span.price 2900
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/oborotni.jpg" alt="Оборотни. Кто стоит за Ватиканом. О. Четверикова")
				.product__descripton
					.product__name Оборотни. Кто стоит за Ватиканом. О. Четверикова
					p.product-desc__text Каковы истинные цели и планы Ватикана, который обладает уникальной возможностью оказывать влияние на глобальную политику?
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1119127"
						data-sb-product-name="Оборотни. Кто стоит за Ватиканом. О. Четверикова"
						data-sb-product-price="1015"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/oborotni.jpg"
					)
						i.fas.fa-cart-plus
						span.price 1015
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/ekonomika_stalina.jpg" alt="Экономика Сталина. Валентин Катасонов")
				.product__descripton
					.product__name Экономика Сталина. Валентин Катасонов
					p.product-desc__text В книге раскрывается суть сталинской экономики, показывается ее уникальный характер не только по сравнению с экономиками других стран.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1119140"
						data-sb-product-name="Экономика Сталина. Валентин Катасонов"
						data-sb-product-price="560"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/ekonomika_stalina.jpg"
					)
						i.fas.fa-cart-plus
						span.price 560
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/iskusstvo_spora.jpg" alt="С. И. Поварнин. 'Искусство спора. О теории и практике спора'. (переиздание книги 1923 г.)")
				.product__descripton
					.product__name С. И. Поварнин. 'Искусство спора. О теории и практике спора'. (переиздание книги 1923 г.)
					p.product-desc__text Несмотря на свой солидный возраст, книга крайне полезна для современного читателя, интересующегося социально-политической жизнью страны и мира и нередко участвующего в самых разнообразных дискуссиях.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1119207"
						data-sb-product-name="С. И. Поварнин. 'Искусство спора. О теории и практике спора'. (переиздание книги 1923 г.)"
						data-sb-product-price="210"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/iskusstvo_spora.jpg"
					)
						i.fas.fa-cart-plus
						span.price 210
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/kak_chitat_knigi.jpg" alt="«Как читать книги» С. И. Поварнин")
				.product__descripton
					.product__name «Как читать книги» С. И. Поварнин
					p.product-desc__text Книга о приемах и навыках рационального чтения, психологических основах восприятия и усвоения текста. Одно из первых и, вероятно, самых лучших и доступных самому широкому читателю, руководств по методике чтения. 
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1120285"
						data-sb-product-name="«Как читать книги» С. И. Поварнин"
						data-sb-product-price="150"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/kak_chitat_knigi.jpg"
					)
						i.fas.fa-cart-plus
						span.price 150
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/chetire_vremeni_goda.png" alt="Четыре времени года. Книга для воспитателя детского сада. Бианки В.В., Веретенникова С.А., Клыков А.А. 1949")
				.product__descripton
					.product__name Четыре времени года. Книга для воспитателя детского сада. Бианки, Веретенникова, Клыков 1949
					p.product-desc__text Книга "Четыре времени года" является по-собием для воспитателя детского сада. В художественно-литературной форме в книге раскрывается родная природа — жизнь растений и животных, деятельность человека в природе.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1121622"
						data-sb-product-name="Четыре времени года. Книга для воспитателя детского сада. Бианки В.В., Веретенникова С.А., Клыков А.А. 1949"
						data-sb-product-price="250"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/chetire_vremeni_goda.png"
					)
						i.fas.fa-cart-plus
						span.price 250
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/matematicheskaya_smekalka.jpg" alt="Кордемский Б. А. Математическая смекалка. Лучшие логические задачи, головоломки и упражнения")
				.product__descripton
					.product__name Кордемский Б. А. Математическая смекалка. Лучшие логические задачи, головоломки и упражнения
					p.product-desc__text Книга мэтра научно-популярной литературы Бориса Анастасьевича Кордемского — сборник математических миниатюр: занимательных задач, математических игр, головоломок, шуток и фокусов.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1119630"
						data-sb-product-name="Кордемский Б. А. Математическая смекалка. Лучшие логические задачи, головоломки и упражнения"
						data-sb-product-price="545"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/matematicheskaya_smekalka.jpg"
					)
						i.fas.fa-cart-plus
						span.price 545
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/bolshaya_kniga_zanimatelnih_nauk.jpg" alt="Перельман Я.И. Большая книга занимательных наук")
				.product__descripton
					.product__name Перельман Я.И. Большая книга занимательных наук
					p.product-desc__text Это сборник книг Я.И.Перельмана, в котором собраны классические пособия по алгебре, геометрии, физике. В нем вы найдете занимательные задачи и опыты, нестандартные головоломки и необычные сюжеты.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1123605"
						data-sb-product-name="Перельман Я.И. Большая книга занимательных наук"
						data-sb-product-price="400"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/bolshaya_kniga_zanimatelnih_nauk.jpg"
					)
						i.fas.fa-cart-plus
						span.price 400
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/znaete_li_vi_arifmetiku.jpg" alt="Знаете ли вы арифметику? Перельман Я. И.")
				.product__descripton
					.product__name Знаете ли вы арифметику? Перельман Я. И.
					p.product-desc__text Числа-великаны и числа-карлики, различные системы счисления, арифметические парадоксы и головоломки: множество замечательных задач, фокусов, загадок, ребусов собрано в этой книге.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1123463"
						data-sb-product-name="Знаете ли вы арифметику? Перельман Я. И."
						data-sb-product-price="550"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/znaete_li_vi_arifmetiku.jpg"
					)
						i.fas.fa-cart-plus
						span.price 550
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/nauchnie_fokusi_i_zagadki.jpg" alt="Перельман Я.И. Научные фокусы и загадки")
				.product__descripton
					.product__name Перельман Я.И. Научные фокусы и загадки
					p.product-desc__text "Научные фокусы и загадки" - это увлекательная коллекция хитрых вопросов, занимательных задач, интересных загадок, головоломок, фокусов и игр. Эта книга для веселых, находчивых сообразительных!
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1119645"
						data-sb-product-name="Перельман Я.И. Научные фокусы и загадки"
						data-sb-product-price="185"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/nauchnie_fokusi_i_zagadki.jpg"
					)
						i.fas.fa-cart-plus
						span.price 185
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/zanimatelnie_opiti_i_zadachi_po_fizike.jpg" alt="Перельман Я.И. Занимательные опыты и задачи по физике")
				.product__descripton
					.product__name Перельман Я.И. Занимательные опыты и задачи по физике
					p.product-desc__text В книге легко, понятно и увлекательно рассказывается о скорости и движении, теплопроводности и вращении, преломлении света и "вечных двигателях" и еще многом др.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1119643"
						data-sb-product-name="Перельман Я.И. Занимательные опыты и задачи по физике"
						data-sb-product-price="205"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/zanimatelnie_opiti_i_zadachi_po_fizike.jpg"
					)
						i.fas.fa-cart-plus
						span.price 205
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/golovolomki_i_zadachi.jpg" alt="Перельман Я.И. Головоломки и задачи")
				.product__descripton
					.product__name Перельман Я.И. Головоломки и задачи
					p.product-desc__text Автор книги поможет читателям разглядеть неожиданные стороны как будто знакомых предметов, потренировать память, логику и воображение, научиться мыслить.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1119639"
						data-sb-product-name="Перельман Я.И. Головоломки и задачи"
						data-sb-product-price="205"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/golovolomki_i_zadachi.jpg"
					)
						i.fas.fa-cart-plus
						span.price 205
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/nauchnie_fokusi_i_golovolomki.jpg" alt="Перельман Я.И. Научные фокусы и головоломки")
				.product__descripton
					.product__name Перельман Я.И. Научные фокусы и головоломки
					p.product-desc__text Книга открывает секрет феноменальной памяти, научит интересным фокусам, предложит множество занимательных игр и развлечений - от "морского боя" до замысловатых задачек на логику.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1119644"
						data-sb-product-name="Перельман Я.И. Научные фокусы и головоломки"
						data-sb-product-price="205"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/nauchnie_fokusi_i_golovolomki.jpg"
					)
						i.fas.fa-cart-plus
						span.price 205
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/zanimatelnaya_arifmetika.jpg" alt="Перельман Я.И. Занимательная арифметика")
				.product__descripton
					.product__name Перельман Я.И. Занимательная арифметика
					p.product-desc__text Книга содержит рассказы о числах-гигантах и числах-карликах, о различных системах счисления, об арифметических парадоксах, головоломках и о многом другом, чего нет в школьных учебниках.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1119641"
						data-sb-product-name="Перельман Я.И. Занимательная арифметика"
						data-sb-product-price="205"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/zanimatelnaya_arifmetika.jpg"
					)
						i.fas.fa-cart-plus
						span.price 205
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/zanimatelnaya_astronomiya.jpg" alt="Перельман Я.И. Занимательная астрономия")
				.product__descripton
					.product__name Перельман Я.И. Занимательная астрономия
					p.product-desc__text Книга Я.И.Перельмана знакомит читателя с отдельными вопросами астрономии, с ее замечательными научными достижениями, рассказывает в увлекательной форме о важнейших явлениях звездного неба.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1119642"
						data-sb-product-name="Перельман Я.И. Занимательная астрономия"
						data-sb-product-price="225"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/zanimatelnaya_astronomiya.jpg"
					)
						i.fas.fa-cart-plus
						span.price 225
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/zhivaya_matematika.jpg" alt="Перельман Я.И. Живая математика")
				.product__descripton
					.product__name Перельман Я.И. Живая математика
					p.product-desc__text Книга пробудит интерес к математическим задачкам даже у тех, кто математикой никогда не интересовался, научит справляться со сложными уравнениями, превратив любое задание в увлекательный и живой рассказ.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1119640"
						data-sb-product-name="Перельман Я.И. Живая математика"
						data-sb-product-price="205"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/zhivaya_matematika.jpg"
					)
						i.fas.fa-cart-plus
						span.price 205
						| руб.
					.product__quantity(style="display:none;")
.smart-basket__wrapper