.header__basket-min
section.section.section-one
	.container
		h1.main-title УЧЕБНИКИ ВРЕМЕН СОВЕТСКОГО СОЮЗА - ЛУЧШАЯ АЛЬТЕРНАТИВА СОВРЕМЕННОЙ СИСТЕМЕ ОБРАЗОВАНИЯ
		h3.sub-title.product-desc__title Учебники для 3-го класса
		.section__row.product-list
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/arifmetika_3.jpg" alt="Арифметика. Учебник для 3 класса начальной школы. Пчёлко А.С., Поляк Г.Б. Учпедгиз 1955")
				.product__descripton
					.product__name Арифметика. Учебник для 3 класса начальной школы. Пчёлко А.С., Поляк Г.Б. Учпедгиз 1955
					p.product-desc__text Сталинский учебник математики для 3 класса начальной школы. Переиздание в твёрдом переплёте на качественной бумаге.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1123105"
						data-sb-product-name="Арифметика. Учебник для 3 класса начальной школы. Пчёлко А.С., Поляк Г.Б. Учпедгиз 1955"
						data-sb-product-price="250"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/arifmetika_3.jpg"
					)
						i.fas.fa-cart-plus
						span.price 250
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/sbornik_3.jpg" alt="Сборник арифметических задач и упражнений для 3 класса начальной школы. Попова Н.С. Учпедгиз 1941")
				.product__descripton
					.product__name Сборник арифметических задач и упражнений для 3 класса начальной школы. Попова Н.С. Учпедгиз 1941
					p.product-desc__text Наталья Попова писала самые лучшие учебники по математике для начальной школы. Сейчас то, что было типовыми заданиями, относится к олимпиадному уровню.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1123108"
						data-sb-product-name="Сборник арифметических задач и упражнений для 3 класса начальной школы. Попова Н.С. Учпедгиз 1941"
						data-sb-product-price="250"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/sbornik_3.jpg"
					)
						i.fas.fa-cart-plus
						span.price 250
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/arifmetika_3_popova.jpg" alt="Учебник арифметики для начальной школы, часть III (3-4 класс). Попова Н.С. Учпедгиз 1937")
				.product__descripton
					.product__name Учебник арифметики для начальной школы, часть III (3-4 класс). Попова Н.С. Учпедгиз 1937
					p.product-desc__text Учебник -логичный, с хорошей подачей Все задания в сталинских программах вначале проживались. Попова - автор лучших учебников арифметики.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1123109"
						data-sb-product-name="Учебник арифметики для начальной школы, часть III (3-4 класс). Попова Н.С. Учпедгиз 1937"
						data-sb-product-price="200"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/arifmetika_3_popova.jpg"
					)
						i.fas.fa-cart-plus
						span.price 200
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/rodnaya_rech_3.png" alt="Родная речь. Книга для чтения в 3 классе начальной школы. Соловьёва Е.Е., Щепетова Н.Н., Карпинская Л.А. 1954")
				.product__descripton
					.product__name Родная речь. Книга для чтения в 3 классе. Соловьёва Е.Е., Щепетова Н.Н., Карпинская Л.А. 1954
					p.product-desc__text Родная речь - это не просто рассказы, но подготовка ребёнка к изучению многих дисциплин, в том числе истории и естествознания.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1123448"
						data-sb-product-name="Родная речь. Книга для чтения в 3 классе начальной школы. Соловьёва Е.Е., Щепетова Н.Н., Карпинская Л.А. 1954"
						data-sb-product-price="400"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/rodnaya_rech_3.png"
					)
						i.fas.fa-cart-plus
						span.price 400
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/uchebnik_russkogo_3.png" alt="Учебник русского языка для начальной школы. 3 класс. Костин Н.А. Учпедгиз 1949")
				.product__descripton
					.product__name Учебник русского языка для начальной школы. 3 класс. Костин Н.А. Учпедгиз 1949
					p.product-desc__text Учебник в доступной форме дает основы русского языка. Методика подачи материала позволяет получить глубокие знания по предмету. Качественное переиздание классического учебника русского языка.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1123450"
						data-sb-product-name="Учебник русского языка для начальной школы. 3 класс. Костин Н.А. Учпедгиз 1949"
						data-sb-product-price="250"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/uchebnik_russkogo_3.png"
					)
						i.fas.fa-cart-plus
						span.price 250
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/propisi_3.png" alt="Прописи для учащихся 3 класса начальной школы. Воскресенская А.И., Ткаченко Н.И. 1957")
				.product__descripton
					.product__name Прописи для учащихся 3 класса начальной школы. Воскресенская А.И., Ткаченко Н.И. 1957
					p.product-desc__text Прописи для учащихся 3-го класса начальной школы, которые помогут Вашему ребенку научится красиво писать. В прописях даются образцы правильного написания букв, их элементов и соединений.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1123446"
						data-sb-product-name="Прописи для учащихся 3 класса начальной школы. Воскресенская А.И., Ткаченко Н.И. 1957"
						data-sb-product-price="100"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/propisi_3.png"
					)
						i.fas.fa-cart-plus
						span.price 100
						| руб.
					.product__quantity(style="display:none;")
			.section__col.product
				.product__pic
					img.product__img(src="static/images/content/estestvoznanie_30.png" alt="Естествознание. Учебник для 3 класса начальной школы. Тетюрев В.А. 1944")
				.product__descripton
					.product__name Естествознание. Учебник для 3 класса начальной школы. Тетюрев В.А. 1944
					p.product-desc__text Практически в каждой главе есть описание и рисунок опыта, что позволяет лучше усваивать теоретический материал, который к тому же изложен весьма простым и понятным для ребенка языком.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1123441"
						data-sb-product-name="Естествознание. Учебник для 3 класса начальной школы. Тетюрев В.А. 1944"
						data-sb-product-price="250"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/estestvoznanie_30.png"
					)
						i.fas.fa-cart-plus
						span.price 250
						| руб.
					.product__quantity(style="display:none;")
		.section__row.product-list
			.section__col.product.product--komplekt
				.product__pic
					img.product__img(src="static/images/content/komplekt_3.png" alt="Комплект учебников для 3-го класса")
					img.product__img-sale(src="static/images/general/sale_5.png" alt="Скидка 5%" width=70)
				.product__descripton
					.product__name Комплект учебников для 3-го класса
					p В комплекте:
					ul
						li 1) Арифметика. Учебник для 3 класса начальной школы. Пчёлко А.С., Поляк Г.Б. Учпедгиз 1955;
						li 2) Сборник арифметических задач и упражнений для 3 класса начальной школы. Попова Н.С. Учпедгиз 1941;
						li 3) Учебник арифметики для начальной школы, часть III (3-4 класс). Попова Н.С. Учпедгиз 1937;
						li 4) Родная речь. Книга для чтения в 3 классе начальной школы. Соловьёва Е.Е., Щепетова Н.Н., Карпинская Л.А. 1954;
						li 5) Учебник русского языка для начальной школы. 3 класс. Костин Н.А. Учпедгиз 1949;
						li 6) Прописи для учащихся 3 класса начальной школы. Воскресенская А.И., Ткаченко Н.И. 1957;
						li 7) Естествознание. Учебник для 3 класса начальной школы. Тетюрев В.А. 1944;
						.product__old-price Старая цена: 
							span.price.price--old 1700 руб.
					.product__price.product__add-to-cart-button(
						data-sb-id-or-vendor-code ="1123717"
						data-sb-product-name="Комплект учебников для 3-го класса"
						data-sb-product-price="1615"
						data-sb-product-quantity="1"
						data-sb-product-img="static/images/content/komplekt_3.png"
					)
						i.fas.fa-cart-plus
						span.price 1615
						| руб.
					.product__quantity(style="display:none;")
.smart-basket__wrapper
